### Calculate special bonus

In [ ]:
'''
Table: Employees

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| employee_id | int     |
| name        | varchar |
| salary      | int     |
+-------------+---------+
employee_id is the primary key (column with unique values) for this table.
Each row of this table indicates the employee ID, employee name, and salary.
 

Write a solution to calculate the bonus of each employee. The bonus of an employee is 100% of their salary if the ID of the employee is an odd number and the employee's name does not start with the character 'M'. The bonus of an employee is 0 otherwise.

Return the result table ordered by employee_id.

The result format is in the following example.

 

Example 1:

Input: 
Employees table:
+-------------+---------+--------+
| employee_id | name    | salary |
+-------------+---------+--------+
| 2           | Meir    | 3000   |
| 3           | Michael | 3800   |
| 7           | Addilyn | 7400   |
| 8           | Juan    | 6100   |
| 9           | Kannon  | 7700   |
+-------------+---------+--------+
Output: 
+-------------+-------+
| employee_id | bonus |
+-------------+-------+
| 2           | 0     |
| 3           | 0     |
| 7           | 7400  |
| 8           | 0     |
| 9           | 7700  |
+-------------+-------+
Explanation: 
The employees with IDs 2 and 8 get 0 bonus because they have an even employee_id.
The employee with ID 3 gets 0 bonus because their name starts with 'M'.
The rest of the employees get a 100% bonus.


*Source: https://leetcode.com/studyplan/30-days-of-pandas/
'''

In [ ]:
import pandas as pd

def calculate_bonus(row):
    name = row['name'][0]
    odd = row['employee_id'] % 2
    return row['salary'] if odd != 0 and name != 'M' else 0

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    # New column 'bonus' receives the result of applying 'calculate_bonus' function
    employees['bonus'] = employees.apply(calculate_bonus, axis='columns')   # we pass 'columns' to function iterate over each row
    return employees[['employee_id', 'bonus']].sort_values(by='employee_id')

In [ ]:
# The apply() function is being used to apply the 'calculate_bonus' function to each row of the DataFrame.
# The parameter 'axis='columns'' indicates that 'apply' will be done line by line, passing each line as a Series to 'calculate_bonus'.