### Nth Highest Salary

In [ ]:
'''
Table: Employee

+-------------+------+
| Column Name | Type |
+-------------+------+
| id          | int  |
| salary      | int  |
+-------------+------+
id is the primary key (column with unique values) for this table.
Each row of this table contains information about the salary of an employee.
 

Write a solution to find the nth highest salary from the Employee table. If there is no nth highest salary, return null.

The result format is in the following example.

 

Example 1:

Input: 
Employee table:
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
+----+--------+
n = 2
Output: 
+------------------------+
| getNthHighestSalary(2) |
+------------------------+
| 200                    |
+------------------------+
Example 2:

Input: 
Employee table:
+----+--------+
| id | salary |
+----+--------+
| 1  | 100    |
+----+--------+
n = 2
Output: 
+------------------------+
| getNthHighestSalary(2) |
+------------------------+
| null                   |
+------------------------+


*Source: https://leetcode.com/studyplan/30-days-of-pandas/
'''

In [ ]:
import pandas as pd

def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    salaries = employee['salary'].drop_duplicates().sort_values(ascending=False)
    if 0 < N <= len(salaries):
        nth_highest_salary = salaries.iloc[N-1] # position of interest: N-1
        return  pd.DataFrame({f"getNthHighestSalary({N})": [nth_highest_salary]})
    else:
        return pd.DataFrame({f"getNthHighestSalary({N})": [None]})

In [ ]:
# 'Salaries' is a Series and we can access a value directly through the row index.