### Department Highest Salary

In [ ]:
'''
Table: Employee

+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| id           | int     |
| name         | varchar |
| salary       | int     |
| departmentId | int     |
+--------------+---------+
id is the primary key (column with unique values) for this table.
departmentId is a foreign key (reference columns) of the ID from the Department table.
Each row of this table indicates the ID, name, and salary of an employee. It also contains the ID of their department.
 

Table: Department

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
+-------------+---------+
id is the primary key (column with unique values) for this table. It is guaranteed that department name is not NULL.
Each row of this table indicates the ID of a department and its name.
 

Write a solution to find employees who have the highest salary in each of the departments.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Employee table:
+----+-------+--------+--------------+
| id | name  | salary | departmentId |
+----+-------+--------+--------------+
| 1  | Joe   | 70000  | 1            |
| 2  | Jim   | 90000  | 1            |
| 3  | Henry | 80000  | 2            |
| 4  | Sam   | 60000  | 2            |
| 5  | Max   | 90000  | 1            |
+----+-------+--------+--------------+
Department table:
+----+-------+
| id | name  |
+----+-------+
| 1  | IT    |
| 2  | Sales |
+----+-------+
Output: 
+------------+----------+--------+
| Department | Employee | Salary |
+------------+----------+--------+
| IT         | Jim      | 90000  |
| Sales      | Henry    | 80000  |
| IT         | Max      | 90000  |
+------------+----------+--------+
Explanation: Max and Jim both have the highest salary in the IT department and Henry has the highest salary in the Sales department.


*Source: https://leetcode.com/studyplan/30-days-of-pandas/
'''

In [ ]:
import pandas as pd

def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    highest_salary_per_department = employee.merge(employee.groupby('departmentId', as_index=False)['salary'].max(), on=['departmentId', 'salary'])
    # Cross-referencing 'departmentId' information and 'id' from department table 
    highest_salary_per_department = highest_salary_per_department.merge(department, left_on='departmentId', right_on='id', how='left')
    # Reordering and renaming
    df = highest_salary_per_department[['name_y', 'name_x', 'salary']]
    df.rename(columns={'name_y': 'Department', 'name_x': 'Employee', 'salary': 'Salary'}, inplace=True)
    return df

In [ ]:
# employee.groupby('departmentId', as_index=False)['salary'].max()
    returns a DF with the highest salaries per department, containing 'departmentId' e 'salary'
# employee.merge
    'merge' joins the original 'employee' DF and the DF resulting from the filtering
# on=['departmentId', 'salary']
    'on' indicates the columns 'merge should use to combine the two DFs
# Pandas adds "_x" to reference data from the left table, and "_y" to the right table, in the case of columns with the same name in both.
# The second 'merge' joins 'department', indicating 'departmentId' and 'id' as the equivalent columns used to combine de two DFs.

In [ ]:
def department_highest_salary_resumed(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    merged = employee.merge(department , left_on = 'departmentId' , right_on = 'id')
    rt = merged[merged['salary'] == merged.groupby('name_y')['salary'].transform(max)]
    rt = rt[['name_y' , 'name_x' , 'salary']].rename(columns = {'name_y' : 'Department' , 'name_x': 'Employee' , 'salary' : 'Salary'})
    return rt

In [ ]:
# merged.groupby('name_y')['salary'].transform(max)
    It creates a column with the highest salary in the department of the given employee
# In the second line, only the employees with the given highest salary are returned.